Repository aacebedo/devcontainer-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, renovate-config-validator

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/editorconfig-checker/editorconfig-checker
    rev: v3.6.0
    hooks:
      - id: editorconfig-checker

  - repo: local
    hooks:
      - id: trivy-fs
        name: Trivy filesystem scan
        entry: trivy
        args: [fs, .]
        language: system
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.11.6
    hooks:
      - id: commitizen

  - repo: local
    hooks:
      - id: vale sync
        name: Vale sync
        entry: |
          bash -c '
          lock=.vale/.sync.lock
          [ -d .vale/Google ] && exit 0
          mkdir -p .vale
          (flock -n 200 || exit 0) 200>"$lock"
          rm -rf .vale/Google 2>/dev/null || true
          vale sync
          rm -f "$lock"
          '
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/errata-ai/vale
    rev: v3.13.0
    hooks:
      - id: vale

  - repo: local
    hooks:
      - id: jsonlint
        name: JSON Lint
        entry: jsonlint -M json5
        language: system
        files: \.json$

  - repo: local
    hooks:
      - id: renovate-config-validator
        name: Validate Renovate Config
        entry: renovate-config-validator
        language: system
        files: '(^|/).?renovate(?:rc)?(?:\.json5?)?$'

  - repo: https://github.com/instrumentl/pre-commit-just
    rev: v0.1
    hooks:
      - id: format-justfile

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
      - id: taplo-lint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        language: system

feat: move to semrel
  .github/workflows/pr.yaml
  .gitignore
  .mise/config.toml
  .mise/tasks/release.sh
  .semrel.yaml
  .semrel/registry-cache/plugins.json
Due: jsonlint

fix(deps): update dependency mise to 2026.7.18
  .mise/config.toml
  Dockerfile
Due: none

feat: move to cog
  .github/workflows/pr.yaml
  .gitignore
  .mise/config.toml
  .mise/tasks/build.sh
  .mise/tasks/clean.sh
  .mise/tasks/lint.sh
  .mise/tasks/release.sh
  .mise/tasks/security-scan.sh
  .mise/tasks/test.sh
  .releaserc.yaml
  cog.toml
  prek.toml
Due: none

feat: add dprint
  .editorconfig
  .editorconfig-checker.json
  .github/copilot-instructions.md
  .mise/config.toml
  .mise/tasks/format.sh
  Dockerfile
  dprint.json
  prek.toml
  renovate.json
Due: jsonlint, renovate-config-validator

fix: reset CHANGELOG.md
  CHANGELOG.md
Due: none

fix: fix missing var for CI
  .github/workflows/release.yaml
  .gitignore
Due: none

feat: optimized CI and improved mise scripts
  .github/actions/setup/action.yml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .mise/config.toml
  .mise/tasks/bootstrap.sh
  .mise/tasks/build.sh
  .mise/tasks/release.sh
  .mise/tasks/security-scan.sh
  .mise/tasks/test.sh
  CHANGELOG.md
  cog.toml
Due: none

fix: make cog ignore the merge commits
  cog.toml
Due: none

fix: fixed CHANGELOG template
  cog.toml
Due: none

fix: remove hadolint warnings
  .github/actions/setup/action.yml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .gitignore
  .mise/tasks/security-scan.sh
  Dockerfile
  cog.toml
Due: none

fix: remove hadolint warnings
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .gitignore
  .mise/tasks/security-scan.sh
  Dockerfile
  cog.toml
Due: none

fix: fix missing token for setup action
  .github/workflows/release.yaml
Due: none

fix: switch back to the remote template for changelog
  cog.toml
Due: none

fix: fix release creation
  .github/actions/setup/action.yml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
Due: none

fix: clean format styles
  .editorconfig
  .vale.ini
  dprint.json
Due: jsonlint

fix: small fixes for podman and CI
  .github/workflows/pr.yaml
  .mise/config.toml
  .mise/tasks/bootstrap.sh
  .mise/tasks/security-scan.sh
  dprint.json
Due: jsonlint

fix: format changes
  .github/workflows/pr.yaml
  .mise/config.toml
  .mise/tasks/build.sh
  .mise/tasks/release.sh
  .mise/tasks/security-scan.sh
  .mise/tasks/test.sh
  dprint.json
Due: jsonlint

fix: added cd script for mise
  Dockerfile
Due: none

fix: added run-container task and small fixes
  .mise/config.toml
  .mise/tasks/bootstrap.sh
  .mise/tasks/run-container.sh
  Dockerfile
Due: none

feat: split files in dockerfile
  .github/actions/setup/action.yml
  .github/copilot-instructions.md
  .github/workflows/pr.yaml
  .mise/config.toml
  .mise/tasks/build.sh
  prek.toml
  src/001_common_config.toml
  src/99_apt_no_recommends
  src/Dockerfile
  src/starship.toml
  src/zshrc
Due: none

fix: fix missing mise file and completion
  src/001_common_config.toml
  src/Dockerfile
  src/zshrc
Due: none

fix: update editorconfig-checker to github instead of aqua
  .mise/config.toml
Due: none

fix: switch to tombi
  .mise/config.toml
Due: none

fix: remove useless podman related packages
  .mise/config.toml
Due: none

fix: remove copilot instruction files
  .github/copilot-instructions.md
Due: none

feat: change formatting tooling
  .biome.json
  .codebook.toml
  .dprint.json
  .mise/config.toml
  prek.toml
  src/99_apt_no_recommends
Due: jsonlint

feat: moved mise tasks
  .github/workflows/pr.yaml
  .mise/tasks/bootstrap.sh
  .mise/tasks/run-container.sh
  .mise/tasks/run/security-scan.sh
  .mise/tasks/run/tests.sh
Due: none

feat: switch from renovate to updatecli
  .codebook.toml
  .dprint.json
  .editorconfig-checker.json
  .github/workflows/updatecli.yaml
  .mise/config.toml
  .mise/tasks/update-deps.sh
  .updatecli/manifests/autodiscovery.yaml
  .updatecli/manifests/dockerfile.yaml
  .updatecli/manifests/mise.yaml
  .updatecli/values.yaml
  .yamllint.yaml
  prek.toml
  renovate.json
  src/Dockerfile
Due: jsonlint, renovate-config-validator

feat: switch from renovate to updatecli
  .codebook.toml
  .dprint.json
  .editorconfig-checker.json
  .github/actions/setup/action.yml
  .github/workflows/updatecli.yaml
  .mise/config.toml
  .mise/tasks/update-deps.sh
  .updatecli/manifests/autodiscovery.yaml
  .updatecli/manifests/dockerfile.yaml
  .updatecli/manifests/mise.yaml
  .updatecli/values.yaml
  .yamllint.yaml
  prek.toml
  renovate.json
  src/Dockerfile
Due: jsonlint, renovate-config-validator

feat: remode now useless nodejs
  .github/actions/setup/action.yml
  .mise/config.toml
Due: none

fix: fix release workflow
  .mise/tasks/release.sh
Due: none

fix: change update-deps workflow to run on the host directly
  .github/workflows/pr-checks.yaml
  .github/workflows/update-deps.yaml
  .mise/config.toml
  .mise/tasks/update-deps.sh
  .updatecli/manifests/autodiscovery.yaml
  .updatecli/manifests/mise.yaml
  .updatecli/values.yaml
Due: none

fix: fix actions
  .github/actions/setup/action.yml
  .github/workflows/pr-checks.yaml
  .github/workflows/release.yaml
  .github/workflows/update-deps.yaml
  .mise/tasks/release.sh
  .updatecli/manifests/autodiscovery.yaml
  .updatecli/manifests/mise.yaml
  .updatecli/values.yaml
Due: none

fix: pin explicit PR title for autodiscovered dependency updates
  .codebook.toml
  .updatecli/manifests/autodiscovery.yaml
Due: none

fix: disable digest pinning for Dockerfile base image autodiscovery
  .updatecli/manifests/autodiscovery.yaml
Due: none

fix: let autodiscovery generate per-item pull request titles
  .updatecli/manifests/autodiscovery.yaml
Due: none

fix: fix actions
  .codebook.toml
  .github/actions/setup/action.yml
  .github/workflows/pr-checks.yaml
  .github/workflows/release.yaml
  .github/workflows/update-deps.yaml
  .mise/tasks/release.sh
  .updatecli/manifests/autodiscovery.yaml
  .updatecli/manifests/mise.yaml
  .updatecli/values.yaml
Due: none
